.clearfix(){
  &::after{
    clear:both;
  }
}


.container(){

  margin : 0 auto;
  @media @tablet-widths {
    width : 640px;
  };
  @media @desktop-widths {
    width: 1015px;
  };
}

.font(@size : 14px, @color : @color-text, @weight : 400){
  font: 400 @size/20px Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: @weight;
  color: @color;
}