@tablet-widths : ~"(min-width : 768px)";
@desktop-widths : ~"(min-width : 1200px)";

@bg-color-nav : #f7f7f7;
@bg-color-slider : #fafafa;
@main-color-main : #32b4aa;
@main-cover-color : #74d8d1;
@text-color : #919191;
@text-color-black : #222;

@color-background : #f7f7f7;
@color-background-alt : #32b4aa;
@color-text : #222;
@color-text-alt : #919191;
@color-button : #32b4aa;
@color-link-hover : #74d8d1;
@color-link : #32b4a;