 .main-content{
   padding-top: 60px;

   &__offer-carousel-wraper{

     display: none;
     background-color: @color-background;
   }

   &__offer-carousel{
     .container();
     list-style: none;
     display: flex;
   }

   &__offer-carousel-navigation {
     position: absolute;

   }

   @media @desktop-widths {
      padding-top: 0px;
     &__offer-carousel-wraper{
       display: block;
     }
   }
 }
























 .block {
   width: 90%;
   margin: 0 auto;
   height: 500px;
 }

 .red {
   background-color: red;
 }

 .blue {
   background-color: blue;
 }

 body{
   margin: 0;
   padding: 0;
 }

